<!doctype html>
<html>
<head>
    <title>Second Opinion</title>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>
  <div class="jumbotron">
    <h1>Second Opinion</h1>
    <img src="img/steth.jpg">
    <section>
      <p>There's approximently 100,000 illnesses known to man, each with different signs and
        sympthoms. Medical health professionals are only human, so sometimes a condition can be
        misdiagnosed. A second opinion can can be a decision that may save your life.</p>


        <h2>Get your second opinion here:
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        </h2>

        <!-- this will be a login in page for providers to review second opinion request -->
        <h2>Provider Login:
          <a href="/docLogin" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/docSignup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        </h2>
    </section>

    <!-- this link will bring the user to a page where ill share how the website idea came about -->
    <a href="/AboutUs" class="btn btn-default"><span class="fa fa-user"></span>About Us</a>
  </div>


</body>
</html>
