header {
  height: 250px;
  background-color: lightgray;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

header > i {
  color: darkblue;
  font-size: 150px;
}

body {
    background-color: #008e8f;
}

img {
  width: 150px;
  height: 250px;
  transition:transform 0.25s ease;
}


img:hover {
    -webkit-transform:scale(4); /* or some other value */
    transform:scale(4);
}
